/*****general CSS rules ******/

html{
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
}


h1{

  font-size: 4.5rem;
  font-weight: bold;
  line-height:1;
  /*color:#262626;*/
}

h3{
  font-size:2.5rem;
  /*font-weight: bold;*/
  line-height:1.2;
  }

p, span{
  font-size:1.5rem;
  display:block;
}

/*.text-color{
 color:#4d4d4d;
}*/

.back-color {
    background-color:  #e6e6e6;
}

a{
  text-decoration: none;
}

a:visited {
 color:#551A8B;
}



.container{                             /**common class for all sections on the page**/
  padding:0 1.5rem 0 1.5rem;
}

img, video {                                   /**centering of image in div**/
  max-width:100%;
  height:auto;

}

.position-center{            /**used for logo, menu and text  centering  **/
margin:auto 0;

}



/*********Header section*******/



header{
  width:100%;
  background-color: white;
  height:4rem;
  display:flex;
  justify-content: space-between;
  }


.menu-mobile{
  display:none;   /**it will be used for mobile version of site**/
}


.logo {                         /**used for centering of image and logo banner. !!!I will try to do it without flex**/
  display:flex;
  align-items: center;
}

ul{
  display:flex;
}

li:nth-child(1), li:nth-child(2), li:nth-child(3){  /**space between li elements in menu**/
  margin-right: 1rem;
}

#colmar{
  color:#000000;
  font-weight: bold;
}

#academy {
  color:#a6a6a6;
}


/*********banner section*******/

.container.banner, .container.main, .container.exhibit, .container.courses {
  /*width:100%;*/
  padding-top: 2rem;
  padding-bottom:2rem;
  padding-right:0;


}
.section-one{
  width:100%;
  display: flex;
}

.left{
  width:60%;
  margin-right:1.5rem;
  /*border:1px solid black;*/
}

.right{
  width:40%;
  /*border:1px solid black;*/

}

.right h1, .right h3{
  margin-bottom:1.5rem;
}

.btn {
  background-color:#4d4d4d;
  text-align:center;
  width:90%;
  color:white;
  padding:0.5rem 0 0.5rem 0;

  }

.btn:hover {
  font-weight: bold;
}
  /*********main section*******/

  .main-text h1{
    margin-top:2rem;
    margin-bottom: 1.5rem;
  }

  .main-text p{
    margin-bottom: 4.5rem;

  }

  #name {
    font-size:1rem;
    font-weight: bold;
  }

  .rows {
    display:flex;
    flex-wrap: wrap;
    width:100%;

  }

  .row {
    display:flex;
    width:100%;

  }

  .row .foto{
    width:35%;
    margin-right:1rem;
  }

 .mobile {
   display:none;
 }

  .description {
  width: 65%;
  }

 .row:nth-child(1), .row:nth-child(2), .row:nth-child(3){
   padding:1rem;
 }

 .row:nth-child(1){
   padding-top:0;
 }



 .row h3, .row span {
   margin-bottom: 0.5rem;
 }

 .row h3{
   font-size: 2rem;
   font-weight: bold;
 }
 .row span{
   font-size: 1.2rem;
 }


/******** course section ************/

.container.courses{
  padding-left: 4.5rem;
  padding-right:4.5rem;
  padding-bottom: 0;
}

.container.courses h1{
  margin-bottom: 2rem;
  text-align: center;

}

.boxes{
  display:flex;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  /*justify-content: space-around;*/
  justify-content: center;
  /*margin-right:0;
  margin-left:0;
  padding:right:0;*/

}

.box{
  max-width:31.75%;
  /*box-sizing: border-box;*/
  background-color: white;
  opacity:0.5;
  transition: opacity 200ms ease-in 300ms;
  /*border: 1px solid black;*/
  /*flex-grow: 1;*/
}

.box:hover{
  opacity:1;
}
.box:nth-child(n+1){
  margin-bottom: 2rem;
}

.box:nth-child(2), .box:nth-child(5){
  margin-left:2rem;
  margin-right: 2rem;
}

.container.courses span{
  font-size: 1.2rem;
  /*display:block;*/
  /*max-width:100%;

  box-sizing: border-box;*/
  /*overflow: hidden;*/
}

.box div{
  width:100%;
  /*box-sizing: border-box;*/
  padding:1rem 1rem 1.5rem 1rem;
  box-sizing: border-box;
  }

.box span:nth-child(2){
  margin-bottom:0.5rem;
  margin-top:0.5rem;
}

.box h3{
  font-size: 2rem;
  font-weight: bold;
}

 /******** exhibit section ************/
 .main-text h3 {
   margin-top:2rem;
   margin-bottom: 1.5rem;
 }

 .container.exhibit p{
   font-size: 1.2rem;
 }

 .container.exhibit h1{
   text-align:center;
   margin-bottom:2rem;
   /*border:1px solid black;*/

 }

.container.exhibit .row:nth-child(1){
  padding-top:1rem;
}


/******** footer section ************/
footer {
  padding: 0rem 1.5rem 1rem 1.5rem;

}

 .border{

  margin-bottom:1rem;
  border-top: 2px solid #e6e6e6;
}

.copy-rights{
  display: flex;
  justify-content: space-between;
}

footer span{
  font-size:1.2rem;
}



@media only screen and (max-width:560px){

.menu, .logo {
  display:none;
}

.menu-mobile{
  width:100%;
  display:block;
}

ul{
  justify-content: space-between;
}

/**banner section for mobile ***/

.container.banner {
  padding:0;
}

.container.banner .right {
  width:100%;
  padding:2rem 1rem;
  box-sizing: border-box;
}

.right h1{
  margin-bottom:2rem;
  font-size:4rem;
}

.container.banner .left{
  width:100%;
  margin:0;
}

.container.banner .section-one{
  flex-direction: column;

}

.btn{
  width:100%;
}

/**main section for mobile ***/

.container.main{
  padding:1rem 1rem 0rem 1rem;
}
.container.main .left{
  display:none;
}
.container.main .right{
  width:100%;
}

.row {
flex-direction:column;

}

.pc {
  display:none;
}

.mobile{
  display:block;

}
.row .foto{
  width:100%;
  margin-right:0;
}


.row:nth-child(1), .row:nth-child(2), .row:nth-child(3){
  padding:0;
}



.description{
  width:100%;
  box-sizing: border-box;
  padding:1rem 1rem 4rem 1rem;
}

.back-color{
  background-color:white;
}

/**courses section for mobile ***/
.container.courses {
  padding:0 1rem 2rem 1rem;
}

.container.courses h1{
  font-size: 4rem;
}

.boxes {
  flex-direction: column;
}
.box{
  max-width:100%;
  padding:1rem 0 1.5rem 0rem;
  background-color:#e6e6e6;
  opacity:1;
  box-sizing: border-box;

}
.box h3{
  width:100%;
}

.box:nth-child(n+1){
  margin-bottom:0.5rem;
}

.box:nth-child(2), .box:nth-child(5){
  margin-right:0;
  margin-left:0;

}
.box span, .box img{
  display:none;
}
/**exhibit section for mobile ***/

.container.exhibit {
  padding: 2rem 0 1.5rem 0;
}

.container.exhibit .right{
  display: none;
}

.container.exhibit .main-text {
    display:none;
  }

.container.exhibit .left{
   width:100%;
   margin-right:0;
  }

.container.exhibit h1{
  font-size:4rem;
  margin-bottom: 1rem;
}

/*footer section for mobile*/
.border {
  display:none;
}

footer {
  padding:1rem;
}
.copy-rights{
  justify-content: center;
}
.copy-rights span:nth-child(2){
  display:none;
}
}
