html{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color:#4d4d4d;

}

body{
  width:100%;
  margin:0 auto;
}

.header, .logo {
  display:flex;
  align-items: center;
  height:4rem;
}

.logo{
  flex-grow:1;
  margin-left:1.5rem;
}



#colmar{
  font-weight: bold;
  color:#000000;
}

#academy{
  color:#a6a6a6;
}

/*nav .header{
  max-width:100%;
}*/


.header {
  display:flex;
  width: 100%;

  /*padding-left:1.5rem;
  padding-right:0.5rem;*/
  position:fixed;
  /*justify-content: space-between;*/
  z-index:10;
  background-color: white;
  border-bottom: : 1px solid #4d4d4d;
}

.menu, .banner-text, .description, .menu-mobile {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}

ul {
/*max-width: 100%;*/
  /*margin-right:1.5rem;*/
}

.menu {
  /*max-width:100%;*/
  padding-right:0.5rem;
}

.menu li{
  display: inline-block;
  margin:1rem;
}

.menu-mobile{
  display:none;
}

.content{
  max-width:100%;
  display:flex;
  position:relative;
  top:4rem;
  padding: 2rem 0rem 2rem 1.5rem;


}







.content.banner{
  background-color: #e6e6e6;
  height:auto;
  /*max-width:100%;*/

}

.banner-photo{
  width:60%;
  padding-right:1.5rem;
  /*overflow: hidden;*/
}


.banner-photo img{
  max-width: 100%;
  hight:auto;
}


.banner-text{
  width: 40%;
  justify-content: center;
  height:auto;
  margin:auto 0;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  line-height:1;
  margin-bottom: 1.5rem;
  color:#262626;
  width:auto;

}



h3 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height:1.2;
  margin-bottom: 1.5rem;
  width:auto;
}


.banner-text .btn{
  background-color: #4d4d4d;
  color: white;
  text-align: center;
  margin-bottom: 0;
  max-width:85%;
  margin-bottom: 1.5rem;
  height:auto;

}
.banner-text .btn span{

  font-weight: normal;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

.banner-text .btn:hover span{
  font-weight: bold;

}



span{
  font-size:1.5rem;
  display: inline-block;
  margin-bottom: 1rem;
  line-height: 1.2;
}






.logo span{
  margin-bottom: 0;
}

/*.blue {
  color:#4d4dff;
}*/

a{
  text-decoration: none;
  color:#4d4dff;
}

a:visited{
  text-decoration: none;
  color:#551A8B;
}

#name{
  font-weight: bold;
  margin-top: 4.5rem;
  font-size:1.2rem;
}




 .row {
  width:95%;
  display:flex;
  justify-content: flex-start;
  /*border:1px solid black;*/
  padding:5% 0 5% 5%;


}

 .row .foto{
  width:35%;
  margin-right: 1rem;

}

.foto img{
  max-width:100%;
  height:auto;
  overflow:hidden;
}

.mobile{
  display:none;
}



.row h3{
  /*width:65%;*/
  /*height:auto;*/
  line-height: 3rem;
}





.content.info, .content.exibit{
  max-width: 100%;
  /*padding:0rem 0 2rem 1.5rem;*/
  padding:0rem 0rem 0rem 1.5rem;
}

#border{
  border-right:2px solid #e6e6e6;
  margin-top: 0.5rem;
}

.main{
  padding-right: 1.5rem;
  width:60%;
  }

.main img, .main .main-text, .box img, video{
  width: 100%;
  height:auto;

}

.main-text, .info div:last-child{
  margin-bottom: 2rem;
}

.main img, .main video {
  margin-bottom: 2rem;
  margin-top:2rem;
}

p{
  font-size: 1.5rem;
  line-height: 1.4;
}



.information {
  width:40%;

  /*border-left:1px solid grey;*/
  /*border: 1px solid black;*/
}


.information .first-row {
  padding-top:5%;
}

.grey {
  background-color: #e6e6e6;
}


.description {
  justify-content: center;
  width:65%;
}

.content.courses{
  padding: 2rem 4.5rem 2rem 4.5rem;
  flex-direction: column;
  background-color: #e6e6e6;
  /*border:1px solid black;*/

}





.content.courses h1{
  /*margin-bottom: 2rem;*/
  margin:0  auto 2rem auto;
}

.boxes{
  display:flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;

  /*border:1px solid black;*/
}

.box{

  /*position:relative;*/
  width:30%;
  /*padding-top:2rem;*/
  background: white;
  /*border:1px solid black;*/
}

.box.business, .box.art{
  margin:0 2rem 0 2rem;
}

.box span{
  display: block;
  font-size: 1.5rem;
}



.box h3{
  margin-bottom:1rem;
}

.box div{
  padding: 1rem 1rem 1.5rem 1rem;
  /*background-color: white;*/
}

.box span:nth-child(2){
  margin-bottom: 1rem;

}
/*.box span:nth-child(3){
  position:absolute;
  right:-100%;
}*/


.box {
  opacity:0.5;
  transition: opacity 200ms ease-in 300ms;
}

.box:hover{
  opacity:1;
  }

/*.box:hover span:nth-child(3){
  right:0;
}*/

.box:nth-child(1), .box:nth-child(2), .box:nth-child(3) {
  margin-bottom: 2rem;
}

#start-learning {
  max-width: 100%;
  /*border: 1px solid black;*/
  text-align: center;
  margin-top: 2rem;
  margin-bottom:0;
  position:relative;
  top:4rem;
}

.content.exibit .first-row{
  padding-top:5%;
  margin-top: 2rem;
}

footer {
  padding: 0rem 1.5rem 1rem 1.5rem;
  position:relative;
  top:4rem;
}

 .border{
   position:relative;
   top:4rem;
  margin-bottom:1rem;
  border-top: 2px solid #e6e6e6;
}

.copy-rights{
  /*position:relative;
  top:4rem;*/
  display: flex;
  justify-content: space-between;
}

footer span{
  font-size:1.2rem;
}


@media only screen and (max-width:560px){


  .content {
  width: 560px;
  }

.header {
  max-width:100%;
}



  .menu {
    display:none;
  }

  .logo {
    display:none;
  }

  .menu-mobile{
    display:inline-block;
    max-width:100%;
  }

  .menu-mobile ul{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .content.banner{
    width:100%;
    display:flex;
    flex-direction: column;
    padding:0;
  }

 .banner-photo{
   width:100%;
   padding:0;
 }

.banner-text{
  padding:2rem 1rem;
  width:100%;
}

.banner-text h1{
  margin-bottom:2rem;
  font-size: 4rem;
  width:100%;
}
 .banner-text .btn{
   margin-bottom: 2rem;
 }

.content.info{
  width:100%;
  padding:0;
}
 .content.info .main{
   display:none;
 }

 .content.info #border{
   display:none;
 }

.information{
  width:100%;
  padding:1rem 1rem 2rem 1rem;

}
 .row {
   flex-direction:column;
   padding:0;
   width:100%;
 }

.row .description{
   width:100%;
   padding:1rem 2rem;
 }
.row .foto{
  width:100%;
  margin:0;
}
 .pc{
   display:none;
 }
 .foto .mobile{
   display:block;
   max-width:100%;
   height:auto;
 }

 .information .first-row {
   padding:0;
 }

 .info div:last-child{
   margin-bottom: 0;
 }
 span{
   display:inline-block;
   max-width:100%;
 }

 .boxes{
   flex-direction: column;
   width:100%;
 }
.box{
  width:100%;
  background-color: #e6e6e6;
  opacity: 1;

  /*padding: 1rem 1rem 1.5rem 1rem;*/
  }
.box.art, .box.business{
  margin:0rem;
}



.box:nth-child(1), .box:nth-child(2), .box:nth-child(3){
  margin-bottom: 0.5rem;
}
.box span, .box img{
  display:none;
}

.content.courses{
  background-color: white;
  padding:1rem;
}

.box h3 {
  margin:0;
}

.box {
  margin-bottom: 0.5rem;
}
}
