/*****general CSS rules ******/

html{
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
}



h1{

  font-size: 4.5rem;
  font-weight: bold;
  line-height:1;
  /*color:#262626;*/
}

h3{
  font-size:2.5rem;
  /*font-weight: bold;*/
  line-height:1.2;
  }

p, span{
  font-size:1.5rem;
  display:block;
}

/*.text-color{
 color:#4d4d4d;
}*/

.back-color {
    /*background-color:  #e6e6e6;*/
    background: linear-gradient(#e6e6e6, #FFFFFF, #e6e6e6);
}

a{
  text-decoration: none;
  font-weight: 500;
}

a:visited {
 color:#551A8B;
}

.container {                             /**common class for all sections on the page excluding header and footer**/
  padding:2rem 0rem 2rem 1.5rem;
  position:relative;            /*position relative & top = 64 px because of fixed header. All sections are lowered 4rem (= to height of header)*/
  top:4rem;
}


#header-section{
  padding:0rem 1.5rem 0rem 1.5rem;
  position:fixed;                      /* top fixed header */
  z-index: 10;                         /* top fixed header */
  width:100%;
  background-color: white;
  box-sizing: border-box;
  /*position:relative;
  top:0;
  box-sizing: border-box;*/
  border-bottom: 2px solid #e6e6e6;

}





img, video {                                   /**centering of image and video in div**/
  max-width:100%;
  height:auto;

}

.position-center{            /**used for logo, menu and text  centering (horizontal) **/
margin:auto 0;

}



/*********Header section*******/



header{

  width:100%;
  box-sizing: border-box;

  background-color: white;
  height:4rem;
  display:flex;
  justify-content: space-between; /*make space between logo and menu in header*/
  }


.menu-mobile{
  display:none;                  /**it will be used for mobile version of site**/
}


.logo {                         /**used for vertical-alignment of image and logo banner in header. **/
  display:flex;
  align-items: center;
}


ul{
  display:flex;
}

li{
  font-size:0.85rem;
  text-transform: uppercase;
  /*font-weight: bold;*/
}

ul>li>a:hover {                                  /*grey line effect under the menu items*/
    border-bottom: 4px solid #A9A9A9;
    transition:border-bottom .2s ease .2s;
}

li:nth-child(1), li:nth-child(2), li:nth-child(3){  /**space between li elements in menu**/
  margin-right: 1rem;

}

#colmar{                             /* #colmar and #academy id-es are used to make specific text-color of logo */
  color:#000000;
  font-weight: bold;
}

#academy {
  color:#a6a6a6;
}


/*********banner section*******/


.section-one{                             /*I introduced this div before i was aware of box-sizing property. */

  width:100%;
  display: flex;

}

.left{                                        /*all sections on page have left and right side. I used .left & .right classes as a common classes for all sections.
                                                   Deeper inside divs with .left and .right classes I made code more specific for section */
  width:60%;
  margin-right:1.5rem;
  /*border:1px solid black;*/
}

.right{
  width:40%;
  /*border:1px solid black;*/

}

.right h1, .right h3{
  margin-bottom:1.5rem;
}

.btn {                                             /*Learn more button in banner section. It hase also hover property*/
  background-color:#4d4d4d;
  text-align:center;
  width:90%;
  color:white;
  padding:0.5rem 0 0.5rem 0;


  }

.btn:hover {
  font-weight: bold;
}
  /*********main section*******/

  .main-text h1{
    margin-top:2rem;
    margin-bottom: 1.5rem;
  }

  .main-text p{
    margin-bottom: 4.5rem;

  }

  #name {                          /*specific style for the name of author in paragraph*/
    font-size:1rem;
    font-weight: bold;
  }

  .rows {                          /*flex container for 3 rows in main section. One row contains foto and text */
    display:flex;
    flex-wrap: wrap;
    width:100%;

  }

  .row {                            /*row is flex item of flex-conatiner rows. It is also flex-container for foto and text items*/
    display:flex;
    width:100%;

  }

  .row .foto{
    width:35%;
    margin-right:1rem;
  }

 .mobile {                          /*image class which is used on site version for narrower screens. For widers screens display:none*/
   display:none;
 }

  .description {                  /*class for div in main section. It contains text in relation with photo*/
  width: 65%;
  }

 .row:nth-child(1), .row:nth-child(2), .row:nth-child(3){   /*it makes space between row items in rows container*/
   padding:1rem;
 }

 .row:nth-child(1){                                         /*first row item has no top padding. It is in line with main left photo in main section*/
   padding-top:0;
 }



 .row h3, .row span {
   margin-bottom: 0.5rem;
 }

 .row h3{
   font-size: 2rem;
   font-weight: bold;
 }
 .row span{
   font-size: 1.2rem;
 }


/******** course section ************/

.container.courses{
  padding-left: 4.5rem;
  padding-right:4.5rem;
  padding-bottom: 0;
}

.container.courses h1{
  margin-bottom: 2rem;
  text-align: center;

}

.boxes{                                               /*flex container for boxes item. One box item has photo and description of course*/
  display:flex;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  /*justify-content: space-around;*/
  justify-content: center;
  /*margin-right:0;
  margin-left:0;
  padding:right:0;*/

}

.box{                                                   /*it takes 31.75% space of box container*/
  max-width:31.75%;
  /*box-sizing: border-box;*/
  background-color: white;
  opacity:0.75;
  transition: opacity 200ms ease-in 300ms;               /*hover effect*/
  /*border: 1px solid black;*/
  /*flex-grow: 1;*/
}

.box:hover{
  opacity:1;
}
.box:nth-child(n+1){                               /*spacing between two rows of items. One row conatins 3 box items*/
  margin-bottom: 2rem;
}

.box:nth-child(2), .box:nth-child(5){             /*side space between box items. It is set only for 2nd box in the rows */
  margin-left:2rem;
  margin-right: 2rem;
}

.container.courses span{
  font-size: 1.2rem;

}

.box div{                                          /*contains photo and description of course*/
  width:100%;
  padding:1rem 1rem 1.5rem 1rem;
  box-sizing: border-box;
  }

.box span:nth-child(2){                          /*spacing inside div with text*/
  margin-bottom:0.5rem;
  margin-top:0.5rem;
}

.box h3{
  font-size: 2rem;
  font-weight: bold;
}

 /******** exhibit section ************/   /*this section has the same organisation as main section*/
 .main-text h3 {
   margin-top:2rem;
   margin-bottom: 1.5rem;
 }

 .container.exhibit p{
   font-size: 1.2rem;
 }

 .container.exhibit h1{
   text-align:center;
   margin-bottom:2rem;
   /*border:1px solid black;*/

 }

.container.exhibit .row:nth-child(1){
  padding-top:1rem;
}


/******** footer section ************/  /*sticky footer with position: relative, bottom:0*/
footer {
  padding: 0rem 1.5rem 1rem 1.5rem;
  position:relative;
  top:4rem;                                    /*position relative & top = 64 px because of fixed header. All sections are lowered 4rem (= to height of header)*/
  bottom:0;

}

 .border{

  margin-bottom:1rem;
  border-top: 2px solid #e6e6e6;
  position:relative;
  top:4rem;
}

.copy-rights{
  display: flex;
  justify-content: space-between;
}

footer span{
  font-size:1.2rem;
}

@media only screen and (max-width:1495px){
  h1 {
    font-size:3rem;
  }

  h3, .row h3, .container.courses h3{
    font-size: 1.5rem;
  }

p, .container.exhibit p{
  font-size: 1rem;
}

 .container.courses span, .container.main span{
  font-size:0.95rem;
}

  .box {
    max-width:25%;
  }
}

@media only screen and (max-width:1070px){
  h1 {
    font-size:2.5rem;
  }

  .row {
  flex-direction:column;

  }

  .row .foto{
    width:100%;
    margin-right:0;
  }



  .description{
    width:100%;
    box-sizing: border-box;
    /*padding:1rem 1rem 4rem 1rem;*/
  }

  .pc {
    display:none;
  }

  .mobile{
    display:block;

  }

  /*.back-color{
    background-color:white;
  }*/

}
@media only screen and (max-width:865px) {

h1 {
    font-size:2.3rem;
  }

.menu, .logo {
  display:none;
}

.menu-mobile{
  width:100%;
  display:block;
}

ul{
  justify-content: space-between;
}

/**banner section for mobile ***/

.container.banner {
  padding:0;

}

.container.banner .right {
  width:100%;
  padding:2rem 1rem;
  box-sizing: border-box;
}

.right h1{
  margin-bottom:2rem;

}

.container.banner .left{
  width:100%;
  margin:0;
}

.container.banner .section-one{
  flex-direction: column;

}

.btn{
  width:100%;
}

/**main section for mobile ***/

.container.main{
  padding:1rem 1rem 0rem 1rem;
}

.container.main .left{
  display:none;
}

.container.main .right{
  width:100%;
}

.container.main span{
  font-size:1.2rem;
}



.row:nth-child(1), .row:nth-child(2), .row:nth-child(3){
  padding:0;
}


img {
  margin:0 auto;
}

.description{
  width:100%;
  box-sizing: border-box;
  padding:1rem 1rem 4rem 1rem;
  /*position:relative;
  left:5rem; /*added*/
  text-align: center;
}

.back-color{
  /*background-color:white;*/
  background: white;
}

/**courses section for mobile ***/

.container.courses {
  padding:0 1rem 2rem 1rem;
}



.boxes {
  flex-direction: column;
}

.box{
  max-width:100%;

  background-color:#e6e6e6;
  opacity:1;
  box-sizing: border-box;
  /*height:auto;*/

}

.box div{
  padding:1rem 0 1.5rem 1rem;
  box-sizing: border-box;
}

.box h3{
  width:100%;
  box-sizing: border-box;
}

.box:nth-child(n+1){
  margin-bottom:0.5rem;
  /*padding:0;*/
}

.box:nth-child(2), .box:nth-child(5){
  margin-right:0;
  margin-left:0;

}
.box span, .box img{
  display:none;
}
/**exhibit section for mobile ***/

.container.exhibit {
  padding: 2rem 0 1.5rem 0;
}

.container.exhibit .right{
  display: none;
}

.container.exhibit .main-text {
    display:none;
  }

.container.exhibit .left{
   width:100%;
   margin-right:0;
  }

.container.exhibit h1{
  /*font-size:4rem;*/
  margin-bottom: 1rem;
}

/*footer section for mobile*/
.border {
  display:none;
}

footer {
  padding:1rem;

}


.copy-rights span{
  justify-content: center;
  font-size: 0.75rem;
}
.copy-rights span:nth-child(3){
  display:none;
}
}
